@font-face {
  font-family: "ModestoFix";
  src: url("../assets/Girassol-Regular.woff2") format("woff2"), local(serif);
  unicode-range: U+00DF;
  font-weight: 800;
}

.modesto,
.dnd5e .form-header,
.dnd5e.sheet .sheet-header .header-details,
.dnd5e.sheet .sheet-header .header-details .summary select,
.dnd5e.sheet .sheet-navigation,
.dnd5e .items-list .items-header h3,
.dnd5e.sheet.actor h4.box-title,
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value,
.dnd5e.sheet.actor .ability-scores,
.dnd5e.chat-card .card-header h3,
.dnd5e.sheet.actor.character .characteristics label,
.dnd5e.sheet.group .members .directory-header>* {
  font-family: "ModestoFix", "Modesto Condensed", "Palatino Linotype", serif;
}

.tidy5e.sheet.actor .char-name,
.tidy5e.sheet.actor .level,
.tidy5e.sheet.actor .attribute-name,
.tidy5e.sheet.actor .header-attribute .value,
.tidy5e.sheet.actor .ability-name,
.tidy5e.sheet.actor .attribute-value,
.tidy5e.sheet.actor #item-info-container-content .info-card .info-card-name,
.tidy5e.sheet.actor .portrait-hd .current-hd,
.tidy5e.sheet.actor .portrait-hp input,
.tidy5e.sheet.actor .portrait-hp span,
.tidy5e.sheet.actor .ability-scores .ability .ability-score,
.tidy5e.sheet.actor .resources .resource .resource-name input,
.tidy5e.sheet.actor .resources .resource .resource-value,
.tidy5e.sheet.actor .spellcasting-ability h3,
.tidy5e.sheet.actor.npc .level-information,
.tidy5e.sheet.actor.npc .spellcasting-ability .spell-dc,
.tidy5e.sheet.actor.npc .spellbook-title,
.tidy5e.sheet.item .sheet-header .charname input,
.tidy5e.sheet.item .sheet-header .item-subtitle,
.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-header,
.tidy5e.sheet.item .sheet-body .tab.details .form-header,
.tidy5e.sheet.item .sheet-body .tab.advancement .form-header,
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-header,
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-header,
.tidy5e.sheet.item .damage-header {
  font-family: "ModestoFix", "Modesto Condensed", "Palatino Linotype", serif !important;
}